@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
}

body {
  background: #F3F6FD;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.component.component1 {
  background: #fff;
  padding: 80px;
  border-radius: 15px;
  max-width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: auto;
}

@media screen and (max-width: 1196px) {
  .component.component1 {
    width: 595px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 764px) {
  .component.component1 {
    width: 400px;
    padding: 40px;
  }
}

.component.component1 > img {
  margin-right: 40px;
  width: 302px;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
}

.component.component1 .content-right {
  height: 231px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.component.component1 h3 {
  font-size: 32px;
}

@media screen and (max-width: 764px) {
  .component.component1 h3 {
    font-size: 18px;
    margin-top: 10px;
  }
}

.component.component1 .author {
  font-size: 18px;
  color: #1A1B38;
}

@media screen and (max-width: 764px) {
  .component.component1 .author {
    font-size: 14px;
  }
}

.component.component1 .author a {
  color: #5B60ED;
  text-decoration: underline;
}

.component.component1 .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -7px;
}

@media screen and (max-width: 764px) {
  .component.component1 .actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.component.component1 .actions a {
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #D4DBEE;
  border-radius: 3px;
  margin: 0 7px;
  font-size: 18px;
  color: #585971;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  white-space: nowrap;
}

@media screen and (max-width: 764px) {
  .component.component1 .actions a {
    margin-top: 10px;
  }
}

.component.component1 .actions a:hover {
  border-color: #5B60ED;
  color: #5B60ED;
}

.component.component1 .actions a:hover svg path {
  stroke: #5b60ed;
}

.component.component1 .actions a img, .component.component1 .actions a svg {
  margin-right: 10px;
}

.component.component2 {
  background: #fff;
  padding: 50px 60px 60px 60px;
  border-radius: 15px;
  max-width: 390px;
}

.component.component2 h3 {
  font-size: 24px;
  padding-bottom: 25px;
}

.component.component2 ul li {
  padding-bottom: 15px;
}

.component.component2 ul li.button {
  padding-top: 35px;
}

.component.component2 ul li button[type="submit"] {
  height: 63px;
  border-radius: 3px;
  background: #5B60ED;
  width: 100%;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}

.component.component2 ul li button[type="submit"]:hover {
  opacity: .9;
}

.component.component2 ul li:last-child {
  padding-bottom: 0;
}

.component.component2 ul li .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  cursor: pointer;
}

.component.component2 ul li .radio .cb {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  min-width: 24px;
  border-radius: 50%;
  border: 1px solid #D4DBEE;
  position: relative;
}

.component.component2 ul li .radio .cb::before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #5B60ED;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.component.component2 ul li .radio:hover .cb {
  border-color: #5B60ED;
}

.component.component2 ul li .radio input {
  display: none;
}

.component.component2 ul li .radio input:checked + .cb {
  border-color: #5B60ED;
}

.component.component2 ul li .radio input:checked + .cb::before {
  display: block;
}

.component.component3 {
  background: #fff;
  padding: 55px 60px 65px 60px;
  border-radius: 15px;
  max-width: 510px;
}

@media screen and (max-width: 764px) {
  .component.component3 {
    width: 400px;
  }
}

.component.component3 h3 {
  font-size: 24px;
  padding-bottom: 25px;
}

.component.component3 .keywords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.component.component3 .keywords a {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #585971;
  border: 1px solid #D4DBEE;
}

.component.component3 .keywords a:hover {
  border-color: #5B60ED;
  color: #5B60ED;
}

.component.component3 .keywords a.view-all {
  background: #F3F6FD;
  border-color: #F3F6FD;
  color: #5B60ED;
}

.component.component3 .keywords a.view-all img {
  margin-left: 5px;
}

.component.component3 .stock-details {
  margin-top: 40px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #D4DBEE;
}

.component.component3 .stock-details li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 16px;
  color: #585971;
}

.component.component3 .stock-details li label {
  padding-bottom: 12px;
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.divider {
  height: 50px;
}
/*# sourceMappingURL=style.css.map */